class NavigationBar extends React.Component {
	componentDidMount() {
		document.getElementById('name-container').addEventListener("click", function() {
			window.location = "/";
		});
	}
	loggedin() {
		if(this.props.signedin) {
			return (
				<div id="login-signup">
					<p><a href="/logout" data-method="delete">Sign out</a></p>
				</div>
			)
		} else {
			return (
				<div id="login-signup">
					<p><a href="/signup" className="no-link-line">Sign up</a></p>
					<p><a href="/login">Sign in</a></p>
				</div>
			)
		}
	}
	render() {
		return (
			<div id="nav">
				<SandwichNavigation/>
				<div id="name-container">
					<%= image_tag("idea.svg", :alt => "idea icon", :id => "idea-icon") %>
					<p id="title1">Conceptual</p>
					<p id="title2">Ideas</p>
				</div>

				{this.loggedin()}
			</div>
		)
	}
}
