class SandwichNavigation extends React.Component {
	componentDidMount() {
		document.getElementById('sandwich').addEventListener("click", function(){
			this.classList.toggle('change');
		});
	}
	render() {
		return (
			<div>
				<div id="sandwich">
					<div id="bar1"></div>
					<div id="bar2"></div>
					<div id="bar3"></div>
				</div>
				<SideNavigationBar/>
			</div>
		)
	}
}
