class SideNavigationBar extends React.Component {
	componentDidMount() {

	}
	render() {
		return (
			<div id="side-navigate">
				<a href="/">Sign up</a>
				<a href="/">Sign in</a>
				<a href="/">About</a>
				<a href="/">Contact</a>
				<button class="dropdown-button">Applications
					<i class="arrow-icon">^</i>
				</button>
				<div class="dropdown-content">
					<a href="/">Application 1</a>
					<a href="/">Application 2</a>
					<a href="/">Application 3</a>
				</div>
			</div>
		)
	}
}
