class SideNavigationBar extends React.Component {
	componentDidMount() {
		document.getElementById("dropdown-button").addEventListener("click", function(){
			document.querySelector("#dropdown-content").classList.toggle('active');
			document.querySelector("#arrow-icon").classList.toggle('flip');
		});
	}
	loggedin() {
		if(this.props.signedin == true) {
			return (
				<div>
					<a className="line-on-it" href="/logout" data-method="delete" id="signout_link">Sign out</a>
				</div>
			)
		} else {
			return (
				<div>
					<a href="/signup">Sign up</a>
					<a className="line-on-it" href="/login">Sign in</a>
				</div>
			)
		}
	}
	render() {
		return (
			<div id="side-navigate">
				{this.loggedin()}
				<button id="dropdown-button">Applications
					<div id="arrow-icon">↑</div>
				</button>
				<div id="dropdown-content">
					<a href="/"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 1</a>
					<a href="/"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 2</a>
					<a href="/"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 3</a>
					<a href="/"><%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-dropdown") %>&nbsp;&nbsp;&nbsp;&nbsp;Application 4</a>
				</div>
				<a id="top-line" href="/">About</a>
				<a href="/">Contact</a>
			</div>
		)
	}
}
