class StatusMessages extends React.Component {
	componentDidMount() {
		var notify = document.getElementById('messages');
		var messageText = document.getElementById('message-positioning');

		if(this.props.notification[0] != null && this.props.notification[1] != null) {
			let map = new Map([["Blue", ["#7EC0EE", "#4c4cff"]], ["Green", ["#b2ffb2", "#00cc00"]], ["Red", ["#ff7f7f", "#ff1919"]], ["Yellow", ["#ffffb2", "#b2b200"]]]);
			
			notify.style.background = map.get(this.props.notification[0])[0];
			messageText.style.color = map.get(this.props.notification[0])[1];

			setTimeout(function() {
				messageText.classList.toggle('fade');
			}, 1800);

			setTimeout(function() {
				notify.className = 'disappear';
			}, 9000);
		}
	}
	render() {
		return (
			<div id="messages">
				<p id="message-positioning">{this.props.notification[1]}</p>
			</div>
		)
	}
}
