<% provide(:title, "Chatter") %>

<% unless logged_in? %>
	<div class="app-title-space">
		<div class="app-titles">
			<div id="idea-icon-title"></div>
			<p class="app-title">Chatter</p>
		</div>
	</div>

	<p class="static-page-text">You must be signed in to use Chatter.</p>

	<%= react_component("Chatter", messages: @messages) %>
<% end %>
