<div class="app-title-space">
	<div class="app-titles">
		<%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-icon-title") %>
		<p class="app-title">Image Differences</p>
	</div>
</div>

<div id="img-compare">
	<div class="img-lining">
		<h2>Before Epic</h2>
		<%= image_tag("before_epic.png", :alt => "before epic screenshot") %>
		<p>Sign up page before epic.</p>
	</div>
	<div class="img-lining">
		<h2>After Epic</h2>
		<%= image_tag("after_epic.png", :alt => "after epic screenshot") %>
		<p>Sign up page after epic.</p>
	</div>
</div>
