<div class="app-title-space">
	<div class="app-titles">
		<%= image_tag("idea.svg", :alt => "idea icon", :class => "idea-icon-title") %>
		<p class="app-title">Image Differences</p>
	</div>
</div>

<div id="img-compare">
	<%= image_tag("before_epic.png", :alt => "before epic screenshot", :class => "img-lining") %>
	<%= image_tag("after_epic.png", :alt => "after epic screenshot", :class => "img-lining") %>
</div>
