# app/assets/javascripts/chats.coffee

$(document).ready =>
  username = ''

  updateChat = (data) ->
    $('#chatbox').append """
      <div class="word-holder">
        <div class="no-word-overflow">
          <small><b>#{data.username}</b></small>
          <p class="message-mod">#{data.message}</p>
        </div>
      </div>
    """
    $("#chatbox").scrollTop($("#chatbox")[0].scrollHeight)
    return

  $('#chat-form').on 'ajax:success', (data) ->
    $('#chat-form')[0].reset()
    return

  pusher = new Pusher('<%= Figaro.env.PUSHER_KEY %>',
    cluster: '<%= Figaro.env.PUSHER_CLUSTER %>'
    encrypted: true)
  channel = pusher.subscribe('chat')
  channel.bind 'new', (data) ->
    updateChat data
    return
  return
