# app/assets/javascripts/chats.coffee

$(document).ready =>
  username = ''

  updateChat = (data) ->
    $('#chatbox').append """
      <div class="word-holder">
        <div class="no-word-overflow">
          <small>#{data.user_id}</small>
          <p>#{data.message}</p>
        </div>
      </div>
    """
    return

  $('#chat-form').on 'ajax:success', (data) ->
    $('#chat-form')[0].reset()
    return

  pusher = new Pusher('<%= Figaro.env.PUSHER_KEY %>',
    cluster: '<%= Figaro.env.PUSHER_CLUSTER %>'
    encrypted: true)
  channel = pusher.subscribe('chat')
  channel.bind 'new', (data) ->
    updateChat data
    return
  return
