/* SCSS files */
//= require users
//= require sessions
//= require media_queries


$light-yellow: #ffffCC;
$default-fonts: Helvetica, Arial, sans-serif;

body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: absolute
}

#background-img {
	position: relative;
	background-image: linear-gradient(to bottom, transparent, white), url("normal_background.svg");
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
	max-height: 100%
}

#nav {
	background: rgba(255,255,255,0.6);
	border-bottom: 0.25em solid $light-yellow;
	position: fixed;
	width: 100%
}

#sandwich {
	display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 1em
}

#bar1, #bar2, #bar3 {
    width: 1.5em;
    height: 0.2em;
    background-color: #C0C0C0;
    margin: 0.3em 0;
    transition: 0.4s;
}

.change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.2em, 0.5em);
    transform: rotate(-45deg) translate(-0.2em, 0.5em);
    background-color: #0080ff
}

.change #bar2 {
	opacity: 0;
}

.change #bar3 {
    -webkit-transform: rotate(45deg) translate(-0.14em, -0.55em);
    transform: rotate(45deg) translate(-0.14em, -0.55em);
    background-color: #0080ff
}

#name-container {
	display: inline-block;
	cursor: pointer
}








#side-navigate {
	position: fixed;
    width: 18em;
    background-color: red;
    opacity: 0.5;
    overflow-x: hidden;
    top: 4.5em;
    bottom: 0;
    font-family: Arial, Calibri, sans-serif
}

.dropdown-content {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

#side-navigate a, .dropdown-button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.arrow-icon {
    float: right;
    padding: 0.2em 1em 0 0
}






#login-signup {
	float: right;
	margin-top: 0.85em
}

#login-signup > p {
	display: inline-block;
	font-family: $default-fonts;
	font-size: 1em;
	margin: 0
}

.no-link-line {
	text-decoration: none
}

#login-signup > p:nth-child(1) {
    border: 0.2em;
    border-style: solid;
    border-color: #32CD32;
    border-radius: 0.5em;
    background-color: #32CD32;

    color: white;
    padding: 0.5em 0.7em 0.5em 0.7em;

    a:link {
		color: white
	}
	a:visited {
		color: white
	}
}

#login-signup > p:nth-child(2) {
	padding-left: 0.8em;
	margin-right: 2em;
	color: #68838B
}

#messages {
	position: absolute;
	top: 4.5em;
	width: 100%;
	height: 2em;
	background: transparent;
	opacity: 1;
	transition:opacity 1000ms;
	-webkit-animation: expand 2s
}

#messages.disappear {
	opacity: 0
}

#message-positioning {
	opacity: 0;
	transition: opacity 1s;
	position: relative;
	top: -0.5em;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold
}

#message-positioning.fade {
	opacity: 1
}

@-webkit-keyframes expand {
	0%{height:0px}
	100%{height:2em}
}

#footer {
	background: #D3D3D3;
	border-top: 0.25em solid $light-yellow;
	height: 3em;
	padding-bottom: 2em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    color: #68838B;
    opacity: 0.6;
    font-family: $default-fonts;

    #references {
    	background: #D3D3D3;
    	float: right;
		padding: 1em 2em 1em 2em
    }
}

.links-color {
	a:link, a:visited, a:hover {
		color: #0080ff
	}
}

#idea-icon {
	width: 2em;
	height: auto
}

.idea-icon-form {
	width: 2em;
	height: 2em;
	float: left;
	padding-right: 0.75em
}

#title1 {
	font-family: $default-fonts;
	font-size: 2em;
	color: #68838B;
	display: inline-block;
	margin: 0.5em 0 0.5em 0.4em
}

#title2 {
	padding-left: 0.25em;
	font-family: $default-fonts;
	font-size: 2em;
	color: #0080ff;
	display: inline-block;
	margin: 0.5em 0em 0.5em 0
}

#debug-border {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: #545454;

    border: 0.25em;
    border-style: solid;
    border-color: #0080ff;
    border-radius: 1em;
    background-color: $light-yellow;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

#inner-body {
	min-height: 100vh;
	padding-top: 8em
}

#applications {
	display: block;
	text-align: center;
	margin: 0 auto;

	ul {
		padding: 0;
		margin: 0
	}
}

.boxes {
	display: inline-block;
	background-color: #7EC0EE;
	opacity: 0.3;
	border-radius: 0.5em;
}
