$chat-fonts: Arial, Calibri, sans-serif;

#message-title {
	text-align: center;
	font-family: $chat-fonts;
	color: white;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border: 0.2em solid #ffb101;
	height: 5em;
	margin: auto;
	background-color: #ffb101
}

#chatbox {
	height: 20em;
	margin: auto;
	border: 0.2em solid #ffb101;
	background-color: white;
	overflow-y: auto;
	background-color: white;
	padding: 0.5em 2em 0.5em 2em
}

#chatbox-submit {
	margin: auto;
	background-color: #ffb101;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border: 0.2em solid #ffb101;
	height: 4em;
	padding: 0.5em 2em 0.5em 2em
}

#chatbox::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5
} 

#chatbox::-webkit-scrollbar-thumb {
    background-color: #72bcd4
}

#chatbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5
}

.no-word-overflow {
	word-wrap: break-word;
	padding: 0.5em;
	background-color: #1e90ff;
	color: white;
	font-family: $chat-fonts;
	font-weight: 500;
	border-radius: 0.6em;
	width: auto;
	display: inline-block;
	max-width: 15em
}

.word-holder {
	width: 100%;
	margin: 0.75em 0 0.75em -0.5em;
	position: relative
}

.message-mod {
	margin: 0;
	padding-top: 0.4em
}

#message-input {
	width: 5em;
	float:left;
	font-family: $chat-fonts;
	display: inline-block
}

#message-input > input {
	width: 20em;
}

#submit-message {
	width: 4em;
	text-align: center;
	background-color: #00b0b0;
	color: white;
	border-radius: 0.5em;
	cursor: pointer;
	float: right;
	font-family: $chat-fonts;
	display: inline-block
}
