#chatbox {
	height: 20em;
	margin: auto;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border: 0.2em solid #00b0b0;
	background-color: white;
	overflow-y: auto;
	background-color: white;
	padding: 0.5em 2em 0.5em 2em
}

#chatbox-submit {
	margin: auto;
	background-color: #00b0b0;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border: 0.2em solid #00b0b0;
	padding: 0.5em 2em 0.5em 2em
}

#chatbox::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5
} 

#chatbox::-webkit-scrollbar-thumb {
    background-color: #72bcd4
}

#chatbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5
}

.no-word-overflow {
	word-wrap: break-word;
	padding: 0.5em;
	background-color: #1e90ff;
	color: white;
	font-family: Arial, Calibri, sans-serif;
	font-weight: 500;
	border-radius: 0.25em;
	width: auto;
	display: inline-block;
	max-width: 15em
}

.word-holder {
	width: 100%;
	margin: 0.75em 0 0.75em -0.5em;
	position: relative
}

.message-mod {
	margin: 0;
	padding-top: 0.4em
}

#message-title {
	text-align: center;
	font-family: Arial, Calibri, sans-serif;
	color: #FFA500
}

#message-input {
	width: 15em;
	float:left
}

#submit-message {
	float: right
}
