$course-fonts: Helvetica, Arial, sans-serif;

.pagination {
	display: none
}

.course {
	position: relative;
	width: 100%;
	border-radius: 0.3em;
	background-color: white;
	font-family: $course-fonts;
	box-shadow: 0em 0.3em 0.3em 0em rgba(0, 0, 0, 0.2), 0 0.3em 0.3em 0em rgba(0, 0, 0, 0.1);
	margin-bottom:3em;
	-webkit-animation: fadein 1s;
	animation: fadein 1s
}

@keyframes fadein {
    from { opacity: 0; top: 5em;}
    to   { opacity: 1; top: 0em;}
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tab {
	height: 2.25em;
	border-radius: 0.3em 0.3em 0em 0em;
	background-color: #0080ff;
	padding-left: 1.5em;
	font-size: 115%;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.more-info {
	display: none
}

.more-info.show {
	display: block
}

#cat-selector, #sort-selector {
	width: 10em;
	height: 3em;
	padding-left: 1em;
	font-family: $course-fonts;
	border-radius: 0.5em;
	outline: none;
	background-color: white;
	border: 0.1em solid #0080ff;
	color: #0080ff;
	font-weight: bold
}

#sort-selector {
	margin-left: 3em
}