$course-fonts: Helvetica, Arial, sans-serif;

.pagination {
	text-align: center;
	margin: 0 6.5em 0 6.5em;
	padding: 0 !important;
	font-family: $course-fonts;
	font-size: 120%;
	span,a {
		padding: 0.5em;
		border-radius: 0.25em;
		underline: none;
		text-decoration: none;
	}

	a {
		color: #0080ff;
		border: 0.15em solid #0080ff;
	}

	span {
		color: grey;
		border: 0.15em solid grey;
	}

	span.previous_page.disabled {
		margin-right: 0.5em;
	}

	a:hover { 
  		background-color: yellow;
	}

	a:nth-child(1) {
		margin-right: 0.5em;
	}
}

.course {
	position: relative;
	width: 100%;
	border-radius: 0.3em;
	background-color: white;
	font-family: $course-fonts;
	box-shadow: 0em 0.3em 0.3em 0em rgba(0, 0, 0, 0.2), 0 0.3em 0.3em 0em rgba(0, 0, 0, 0.1);
	margin-bottom:3em;
	-webkit-animation: fadein 1s;
	animation: fadein 1s
}

@keyframes fadein {
    from { opacity: 0; top: 5em;}
    to   { opacity: 1; top: 0em;}
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tab {
	height: 2.25em;
	border-radius: 0.3em 0.3em 0em 0em;
	background-color: #0080ff;
	padding-left: 1.5em;
	font-size: 115%;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column
}

.more-info {
	display: none
}

#cat-selector, #sort-selector, #level-selector {
	height: 3em;
	padding-left: 1em;
	font-family: $course-fonts;
	border-radius: 0.5em;
	outline: none;
	background-color: white;
	border: 0.1em solid #0080ff;
	color: #0080ff;
	font-weight: bold
}

#filter-position {
	margin-bottom: 2em	
}

.click-me {
	text-align: center;
	cursor: pointer;
	font-size: 1.75em;
	margin: 0;
	background-color: #F8F8F8;
	color: #B8B8B8;
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.more-info {
	margin: 0;
	padding-left: 1.5em
}

.course-desc {
	padding: 0 1.75em 0 1.75em
}

.tab-container {
	display: inline-block
}

.tab-text {
	float: left;
	padding-top: 0.2em
}

.tab-status {
	float: right;
	margin-right: 1.5em;
	cursor: pointer;
	padding: 0 0.5em 0 0.5em;
	border: 0.1em solid white;
	border-radius: 0.3em
}

.tab-icon-status {
	float: right;
	padding-right: 3em;
	width: 2.75em;
	height: 2.75em;
	margin: 0.25em 0.2em 0 0;
	background-image: url(check.gif);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 2.75em 2.75em;
	cursor: pointer;
	display: none
}

.desc-color {
	display: inline-block;
	color: grey
}

#mobile-filter {
	padding: 0.5em;
	border: 0.1em solid #0080ff;
	border-radius: 0.5em;
	width: 2em;
	color: #0080ff;
	font-size: 150%;
	text-align: center;
	cursor: pointer
}

#enrolled-courses {
	padding: 0.5em;
	margin: 0;
	border: 0.15em solid #0080ff;
	border-radius: 0.5em;
	width: 7em;
	color: #0080ff;
	text-align: center;
	cursor: pointer;
	float: right;
	font-family: $course-fonts;
	font-weight: bold;

	p {
		margin: 0.525em 0 0.525em 0
	}
}

#enrolled-number {
	margin-left: 0.3em;
	display: inline;
	padding: 0.2em 0.5em 0.2em 0.5em;
    height: 0.5em;
    width: 0.5em;
    line-height: 0.4em;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #00bfff;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold
}

#course-list {
	display: block
}

#course-list-user {
	display: none
}

#not-signed-in, #admin-cred {
	font-family: $course-fonts;
	color: grey;
	opacity: 0.8
}

#admin-cred {
	margin-top: 0
}

#not-signed-in {
	margin-bottom: 0
}
