.app-title {
	font-family: Helvetica, Arial, sans-serif;
	color: #0080ff;
	margin-top: 0
}

#img-compare {
	display: block;	
	text-align: center;
	margin: 0 auto
}

.img-lining {
	padding: 0 1em 0.5em 1em;
	border-style: solid;
	border-width: 0.15em;
	border-color: #0080ff;
	cursor: pointer
}
