$form-fonts: Arial, Calibri, sans-serif;

#signup-table-rails {
	margin: auto
}

.form-title {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #0080ff;
	margin: 0
}

#signup-table {
	margin: auto
}

#signup-table tbody {
	margin: auto;
	tr > th > p {
		font-family: $form-fonts;
		font-weight: normal;
		font-size: 1.15em;
		margin-bottom: 0;
		text-align: left;
		color: #68838B
	}
	tr > td > input {
		height: 2em;
    	border-radius: 0.5em;
    	border-style: solid;
    	outline: none;
    	border-color: #68838B;
    	padding-left: 0.5em
	}
	tr > td > p {
		display: inline;
		font-family: $form-fonts;
		font-size: 85%;
		color: #0080ff;
		display: none
	}
}

#accept-button {
	padding-top: 1.8em;
	background-color: transparent !important
}

#monitoring-users {
	background-color: #0080ff;
	width: 10em;
	text-align: center;
	padding: 1em 2em 1em 2em;
	border-radius: 0.5em;
	color: white;
	font-family: $form-fonts;
	text-decoration: none;
	opacity: 0.6
}

#user-info {
  font-family: $form-fonts;
  border-collapse: collapse
}

#user-info tr:first-child th:first-child {
    border-top-left-radius: 0.5em
}

#user-info tr:first-child th:last-child {
    border-top-right-radius: 0.5em
}

#user-info tr:last-child td:first-child {
    border-bottom-left-radius: 0.5em
}

#user-info tr:last-child td:last-child {
    border-bottom-right-radius: 0.5em
}

#user-info td, #user-info th {
  padding: 0.75em
}

#user-info tr:nth-child(even) {
	background-color: white
}

#user-info tr:nth-child(odd) {
	background-color: #DCDCDC
}

#user-info th {
	padding: 1em 0 1em 0.8em;
  	text-align: left;
  	background-color: #45ba45;
  	color: white
}

.monitor-link {
	color: #008080
}

#monitor-name {
	margin:0;
	padding-bottom: 0.5em;
	color: green;
	font-family: $form-fonts;
	font-size: 125%;
}
