<div id="nav">
	<div id="name-container">
		<%= image_tag("idea.svg", :alt => "idea icon", :id => "idea-icon") %>
		<p id="title1">Conceptual</p>
		<p id="title2">Ideas</p>
	</div>

	<div id="login-signup">
		<p>Sign up</p>
		<p>Sign in</p>
	</div>
</div>
