<div id="nav">
	<div id="name-container">
		<%= image_tag("idea.svg", :alt => "idea icon", :id => "idea-icon") %>
		<p id="title1">Conceptual</p>
		<p id="title2">Ideas</p>
	</div>

	<div id="login-signup" style="display: inline-block; float: right">
		<p style="display: inline-block">Sign up</p>
		<p style="display: inline-block">Sign in</p>
	</div>
</div>
